# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
build/
**/build/

# Env / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Angular/TS cache
.angular/
.cache/
*.tsbuildinfo
tmp/
out-tsc/
bazel-out/
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/
Thumbs.db

# Coverage
coverage/
**/coverage/

docs/
**/docs/